*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --colorNavText:hsl(0, 10%, 68%);
    --colorGlobal:#7EB2FD;
    --colorTitle:#293043;
    --colorSecundario:#FFFFFF;
    --fontZiseTitulo:40px;
    --fontZiseTitulo-h3:22px;
    --fondoOpacity: rgba(0, 0, 0, 0.4);
    --boxShadow: 0px 0px 20px -4px rgba(0,0,0,0.2);
    --borderRadius:20px;
    --colorHome:#69E0C3;
    --colorDivider:#e0e0e0;
}

a{
    text-decoration:none;
}

.lista_items a {
    color: var(--colorSecundario);
}

.responsive{
    display: none;
}

.btn_kardex {
    border: none;
    padding: 15px 30px;
    text-align: center;
    background: var(--colorHome);
    color: var(--colorSecundario);
    font-weight: 500;
    border-radius: 5px;
    width: 190px;
    cursor: pointer;
    letter-spacing: 1px;
}

.container_Subheader{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    width: 100%;
}

.icon_btn_materia {
    cursor: pointer !important;
    padding: 5px 8px;
    border-radius: 50%;
    height: 28px;
}
.icon_btn_materia:hover{
    transition: background-color .45s ease;
    background-color: var(--fondoOpacity);
}

#inscribir_Materia{
    padding: 6px;
}

#box_user {
    font-size: 12px;
}

.responsive-lis{
    display: none;
}

.list_user-exit{
    display: none !important;
}

.template{
    display: none !important;
}
.container_header {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    height: 58px;
    align-items: center;
    box-shadow: var(--boxShadow);
    background-color: var(--colorHome);
    color: white;
   
}

.header_container-person {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    padding: 0px 10px;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.header_Notification {
    font-size: 20px;
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container_list-exit {
    position: absolute;
    background: var(--colorSecundario);
    padding: 0px;
    border-radius: 10px;
    top: 45px;
    color: rgba(0,0,0,0.87);
    box-shadow: var(--boxShadow);
    margin: 0px;
    transition: display .9s ease-out;
}

.lista_exit {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 170px !important;
    transition:background-color 0.9 ease;
}

.divider{
    height: 1px;
    background-color: var(--colorDivider);
    margin: 0;
    min-height: auto;
}

#ci_list{
    color: red;
    font-size: 15px;
    padding: 16px;
}


.item_list-exit {
    padding: 14px;
    font-size: 14px;
    width: 100%;
    transition: background-color 0.4s ease-out;
}

.item_exit{
    cursor: pointer;
}

.item_exit:hover{ 
    background-color: rgba(0,0,0,0.1);
    
}

#Notificacion:hover{
        border-radius: 25%;
        background: rgb(0 0 0 / 14%);
        padding: 8px;
}

.container_person-close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    font-size: 18px;
    height: 40px;
    width: 25px;
}

.container_main{
    max-width: 1200px;
    margin: auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    height: 80%;
    justify-content: center;
    padding: 30px 20px;
}

.nav_lista {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 100%;
}


.header_container-nav {
    flex-grow: 1;
    padding: 0px 10px;
}


.main_items{
    min-width: 265px;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
    width: 100%;
}

.main_item-3 {
    width: 51.6%;
    min-height: 224px;
    
}

.main_item-2{
    width: 52%;
}

.main_item-1{
    max-width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_item-4 {
    width: 45%;
    background-image: url("../SRC/img/4612612.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main_items-props {
    flex-grow: 1;
    min-width: 190px;
    max-width: 230px;
    display: flex;
    border-radius: 13px;
    box-shadow: var(--boxShadow);
    height: 70px;
    gap: 30px;
    padding: 0px 15px;
    align-items: center;
}

.main_item-container-3{
         height: auto;
         margin-bottom: 20px;
         min-height: 173px;
         padding: 0px 20px;
         gap: 10px;
         display: flex;
         flex-direction: column;
}

.main_item-props-materia {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main_items-props {
    flex-grow: 1;
    min-width: 225px;
    max-width: 90%;
    display: flex;
    border-radius: 13px;
    box-shadow: var(--boxShadow);
    height: 70px;
    gap: 15px;
    padding: 0px 15px;
    align-items: center;
}

.items_props-icon {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--colorGlobal);
}

.items_props-name {
    font-size: 13px;
    color: var(--colorNavText);
    font-weight: 100;
}
.items_props-container {
    text-align: left;
}

.items_props-icon {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--colorHome);
    color: var(--colorSecundario);
}

.main_items-props-materia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-weight: 600;
}

.main_items-title {
    font-weight: bold;
}

.container_person-name {
    font-weight: 600;
}

.lista_items {
    cursor: pointer;
    font-weight: 300;
    color: var(--colorSecundario);
}

.container_items-procesoMaterias {
    flex-grow: 1;
    min-width: 380px;
    display: flex;
    padding: 0px 5px;
    gap: 10px;
    flex-direction: column;
}

.tabla_notas {
    width: 55%;
}

.tabla-date {
    display: flex;
}

.Fila_tabla {
    display: flex;
}

.tabla_atribute {
    display: grid;
    outline: 1px solid;
    grid-template-rows: 30px 1fr;
}


.tabla_columna {
    display: flex;
    align-items: center;
    outline: 1px solid;
    padding: 5px;
}

.tabla_name {
    width: 40%;
}

.tabla-date {
    display: flex;
}

.data_item{
    outline: 1px solid;
    padding: 5px;
}

.data_item1 {
    width: 40%;
    font-size: 16px;
}

.data_item2 {
    width: 30%;
}
.data_item3 {
    width: 20%;
}

.data_item4 {
    width: 10%;
}


.tabla_id {
    width: 30%;
    text-align: center !important;
}

.tabla_UC {
    width: 20%;
    text-align: center !important;
}

.tabla_nota {
    width: 10%;
    text-align: center !important;
}
/* .Fila_tabla{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tabla_columna {
    padding: 10px;
    border: 1px solid black;
  } */

#box_Correo {
    font-size: 12px;
}

.img_materia-tabla{
    background-image: url("../SRC/img/5437683.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40% !important;
    background-position: center;
}
.container_items-procesoMaterias {
    flex-grow: 1;
    min-width: 380px;
    display: flex;
    padding: 15px;
    gap: 10px;
    flex-direction: column;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    min-height: 300px;
}


.items-proceso-Materias {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b3a9a4ad;
    padding: 5px 6px;
    height: 40px;
}


.name_materias-proceso{
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 35px;
    align-items: center;
}


.items-proceso-Materias h2{
    font-weight: 400;
    font-size: 17px;
}


.contenedor_load-file{
    position:fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: var(--fondoOpacity);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.9s ease;
}

.load_file {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: var(--colorSecundario);
    min-height: 450px;
    width: 460px;
    border-radius: 25px;
    min-width: 420px;
    gap: 15px;
    margin: 10px;
    padding: 20px;
}

.btn_file {
    background: red;
    padding: 16px 45px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-weight: 500;
}
.file_items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.file_items h3 {
    font-weight: 800;
    font-size: 15px;
    padding: 4px;
    color: var(--fondoOpacity);
    font-weight: 500;
}

.file_item-title h1 {
    font-weight: 900;
    color: red;
}

.container_main-procesoMaterias {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.resultadoCarga {
    width: 50% !important;
    height: 50px !important;
}
.btn_result {
    width: 185px !important;
    height: 99%;
    font-size: 16px;
}

.btn_file-load{
    display: none !important;
}

@media screen and (min-width:1185px) {
    .main_items-props {
        max-width: 50%;
    }
}

@media screen and (max-width:1185px) {
    .main_items-props {
        max-width: 85%;
        min-width: 260px;
    }
}


@media screen and (max-width: 1175px) {
    .main_items-container { 
       height:auto;
    }
}

@media screen and (max-width:967px) {
    .main_items{
        width: 100%;
        max-width: 100%;
    }
    .main_items-props {
        max-width: 50%;
    }

    .container_items-procesoMaterias{
        min-width: 450px;
    }

    .main_item-4{
        display: none;
    }
    .img_materia-tabla{
        display: none !important;
     }
}

@media screen and (max-width:700px) {
    .main_items-props {
       max-width: 100%;
    
    }
    
    .container_items-procesoMaterias{
        min-width: 250px;
    }
    .load_file {
        margin: 0px;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 10px;
    }
}

@media screen and (min-width:950px) {
    .main_item-prop-asig {
        min-width: 190px;
    }
}

@media screen and (max-width:800px) {
   
    .header_menu-resposive{
        font-size: 28px;
        cursor: pointer;
        display: flex;
        cursor: pointer;
    }

    .nav_reposive-icoClose{
        cursor: pointer;

    }

    .header_container-nav {
        padding: 0px;
    }

    .responsive-lista{
        display: none;
    }
    .responsive{
        display: flex;
    }

    .responsive-lis{
        display: flex;
    }
    

    .nav_lista{
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        color: var(--colorSecundario);
        background-color: var(--colorHome);
        flex-direction: column;
        font-size: 30px;
        justify-content: center;
    }
}
