*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --colorNavText:hsl(0, 10%, 68%);
    --colorGlobal:#69E0C3;
    --colorTitle:#293043;
    --colorSecundario:#FFFFFF;
    --fontZiseTitulo:40px;
    --fontZiseTitulo-h3:14px;
    --fondoOpacity: rgba(0, 0, 0, 0.4);
}


.loger_Padre{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    display: flex;
    margin-bottom: 20px;
    
    background-color: var(--fondoOpacity);
}

.contaniner_loger{
    border-radius: 25px;
    width: 496px;
    margin: auto;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorSecundario);
    gap: 12px;
}


.sesion__formulario{
    height: auto;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: space-around;
}

.input_checkbox-text {
    font-size: 12.5px;
    cursor: pointer;
}

.input_checkbox-item{
    cursor: pointer;
}

.formulario_Container-input{
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.Formulario__input{
    border: none;
    border-bottom: 1px solid var(--colorGlobal);
    outline: none;
    padding: 12.4px 30px;
    width: 90%;
}

.SelecOptions {
    outline: none;
    border: none;
    font-size: 14px;
    min-width: auto;
    min-height: 34px;
    border-radius: 4px;
}

#formulario_icono{
    transform: translateX(23px);
}

.formulario__button{
    border: none;
    padding: 17px 85px;
    border-radius: 25px;
    cursor: pointer;
    color: var(--colorSecundario);
    background-color: var(--colorGlobal);
    font-size: 18px;

}

.loger_nav-icon{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 26px;
    height: 35px;
    margin-top: 15px;
    
}


#nav_icon-logo{
    color: var(--colorTitle);
    font-size: 33px;
}

.formulario__title{
    font-size: var(--fontZiseTitulo);
}

.formulario__text{
    font-size: var(--fontZiseTitulo-h3);
    padding: 10px;
}

.nav_container-close{
    cursor: pointer;
    padding: 8px;
   
    display: flex;
    align-items: center;
    font-size: 30px;
}

.nav_container-close:hover{
    border-radius: 50%;
    background-color: rgb(0 0 0 / 26%);
}

.for_input-box {
    display: flex;
    gap: 11px;
    padding: 0px 0px;
    align-items: center;
    height: 20px;
}

.File_parrafo {
    font-size: 12px;
    color:rgb(114, 111, 111);
}

.Formulario__input-icon {
    width: 80%;
}

.for_input-box-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}




@media screen and (max-width: 550px){
    .contaniner_loger{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        min-height: 675px;
    }
    
.loger_Padre{
    margin: 0px;
    
}

.Formulario__input-icon {
    width: 90%;
}

.formulario_Container-input {
    width: 90%;
    }

   
}

@media screen and (max-width: 412px){
.nav_container-close {
    padding: 8px;
    font-size:30px;

}

     

}

